@media screen and (max-width: 576px){
    .nav-container{
        flex-direction: column;
        justify-content: center;
        padding: 20px 40px;
    }
    .nav-container .logo{
        margin-left: 400px;
    }
    

    .menu>ul{
        flex-direction: column;
        margin: 0 auto;
    }
    
    .follow{
        margin-top: 10px;
    }
     
       /*banner section  */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-img img{
        width: 100%;
        margin-left: 500px;
    }
    .banner-content{
        margin-left: 90px;
        margin-right: 90px;
        text-align: center;
    }

    /* online game section */
    .online-game{
        padding: 10px;
        width: 100%;
    }
    .online-game h1{
        width: 400px;
        padding-left: 400px;
    }
    .online-game p{
        width: 400px;
        padding-left: 400px;
    }
    .online-game-card{
        flex-direction: column;
        width: 100%;
        margin-left: 400px;

    }
    card img{
        width: 100%;
    }
    /* play section */
    .play-instantly-container{
        flex-direction: column;
    }
    .play-content{
        width: 400px;
        padding-left: 150px;
    }
    /* icon button style */
    .button-section-container{
        grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    width: 600px;
    padding-left: 300px;
    }
    /* footer section */
    footer{
        width: 100%;
    }
    .page-container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        padding-left: 90px;
    }
    .social-icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2 1fr);
    }
    .policy-items{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2 1fr);
        padding-left: 90px;
    }
}


/* responsive for tablet or medium device */
@media screen and (min-width:576px) and (max-width:960px){
    .nav-container{
        padding: 20px 40px;
        padding-right: 0;
    }
    .menu ul{
        text-align: end;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-img img{
        width: 85%;
        padding-left: 150px;
    }
    .banner-content{
        width: 50rem ;
    }
    /* online game section */
    .online-game{
        padding: 10px;
        width: 100%;
    }
    .online-game h1{
        width: 400px;
        padding-left: 400px;
    }
    .online-game p{
        width: 400px;
        padding-left: 400px;
    }
    .online-game-card{
        flex-direction: column;
        width: 100%;
        margin-left: 200px;

    }
    card img{
        width: 100%;
    }
    /* play section */
    .play-instantly-container{
        flex-direction: column;
    }
    .play-content{
        width: 400px;
        padding-left: 150px;
    }
    /* icon button style */
    .button-section-container{
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(3, 1fr);
        width: 600px;
        padding-left: 300px;
    }
    /* footer section */
    footer{
        width: 100%;
    }
    .page-container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        padding-left: 90px;
    }
    .social-icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2 1fr);
    }
    .policy-items{
        padding-left: 90px;
    }
}